<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="" href="#"><form method="post" action="/home">
            <button class="navbar-brand" style="background: transparent;border: none;" type="submit" name="play" value=""> BOOMER</button>
        </form>
         </a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <form method="post" action="/home">
                        <button class="nav-link" type="submit" name="play" value=""> home</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="post" action="/gallery">
                        <button class="nav-link" type="submit" name="play" value=""> gallery</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form>
                        <a href="#blog"> <button class="nav-link" type="submit" name="play" value="">blogs</button></a>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="post" action="/videos">
                        <button class="nav-link" type="submit" name="play" value=""> videos</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- 
fixed-top -->